html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #e9ecef;
}

button:hover {
  border: 2px solid blue;
  background: lightblue;
}
button{
  height: 3em;
  width: 10em;
  font-weight: 700;
}

.Messi {
}




